<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="system-internal"/>
    <springProperty scope="context" name="ROOT_LEVEL" source="logging.level.root" defaultValue="INFO"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                          "service": "${APP_NAME}",
                          "level": "%level",
                          "severity": "%replace(%level){'WARN','WARNING'}",
                          "logger": "%logger",
                          "thread": "%thread",
                          "message": "%message"
                        }
                    </pattern>
                </pattern>
                <mdc/>
                <stackTrace>
                    <fieldName>exception</fieldName>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <root level="${ROOT_LEVEL}">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>
